In [1]:
import sys
import pandas as pd
import requests

In [2]:
url = 'https://raw.githubusercontent.com/ralfsantacruz/Doordash-Analytics/master/resources/analytics.csv'

df = pd.read_csv(url)

,Unnamed: 0,Customer_placed_order_datetime,Placed_order_with_restaurant_datetime,Driver_at_restaurant_datetime,Delivered_to_consumer_datetime,Driver_ID,Restaurant_ID,Consumer_ID,Is_New,Delivery_Region,Is_ASAP,Order_total,Amount_of_discount,Amount_of_tip,Refunded_amount,Total_time_elapsed
0,0,14 20:27:45,14 20:29:41,14 20:39:32,14 20:52:03,86,12,5,False,Palo Alto,True,20.45,20.45,3.07,0.00,0 days 00:24:18.000000000
1,1,07 20:16:28,07 20:17:32,07 20:36:00,07 20:49:02,325,66,5,False,Palo Alto,True,40.62,40.62,3.73,0.00,0 days 00:32:34.000000000
2,2,13 19:35:09,13 19:39:26,13 20:28:16,13 20:52:44,200,124,5,False,Palo Alto,True,37.78,37.78,1.89,0.00,0 days 01:17:35.000000000
3,3,22 19:47:53,22 19:56:08,22 20:01:20,22 20:18:01,154,5,14,False,Palo Alto,True,39.66,0.00,1.98,0.00,0 days 00:30:08.000000000
4,4,03 19:01:52,03 19:09:08,03 19:36:20,03 19:45:26,332,9,14,False,Palo Alto,True,39.66,0.00,5.95,0.00,0 days 00:43:34.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18073,18073,20 00:39:30,20 00:40:31,NaN,20 01:17:29,36,270,96518,False,San Jose,True,44.59,0.00,3.54,13.58,0 days 00:37:59.000000000
18074,18074,26 19:59:56,26 20:05:45,NaN,26 21:00:14,264,294,96518,False,San Jose,True,19.03,0.00,1.19,20.22,0 days 01:00:18.000000000
18075,18075,30 18:20:01,30 18:24:13,30 18:57:09,30 19:31:20,232,294,96518,False,San Jose,True,23.93,0.00,0.82,24.75,0 days 01:11:19.000000000
18076,18076,27 21:48:21,27 21:57:50,NaN,27 22:36:59,300,370,100694,False,Mountain View,True,31.45,0.00,0.00,0.00,0 days 00:48:38.000000000
18077,18077,30 01:58:19,30 01:59:16,30 02:07:30,30 02:41:31,277,370,100694,False,Mountain View,True,32.59,0.00,0.00,0.00,0 days 00:43:12.000000000